@model System.Exception

@{
    ViewBag.Title = "Error :(";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Error. :(</h3>
        <br />
        <h1>@Model.Message</h1>
    </div>

</div>